<h1>New recipe</h1>

<form action="/recipes" method="POST">
  <label for "name">Name:<input type="text" name="name" value="Recipe name:">
  <label for "ingredients">Ingredients:<input type="text" name="ingredients"value="Ingredients:" >
  <label for ""><input type="text" name="cook_time" value="Cook time:" >
  <input type="submit" value="Submit">
</form>
